<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/materialize.css">
        <link rel="stylesheet" href="css/common.css">
    </head>
    <body class="grey lighten-3" ng-app="app" ng-controller="appCtrl">
        
        <div class="container">

            <div class="row margin-top10">
                <div class="section col m7 offset-m1">
                    <h5 class="font-weight300 grey-text text-darken-1">Socket.io Chat</h5>
                </div>
            </div>

            <div class="row">
                <div class="col m7 offset-m1" style="height: 650px;">
                    <div class="z-depth-1 grey lighten-5" style="margin-top: 5px; padding: 5px 25px;">
                        <div>
                            <h5 class="font-weight300 grey-text text-darken-1">
                                Chat Room
                                <small class="right">
                                    <span ng-hide="showShortcut == 0" style="font-size: 80%; color: #bdbdbd;">alt+p &nbsp;</span>
                                    Private Mode
                                    <span class="switch">
                                        <label>
                                            <input accesskey="p" type="checkbox" ng-model="privateMode" ng-true-value="1" ng-false-value="0">
                                            <span class="lever"></span>
                                        </label>
                                    </span>
                                </small>
                            </h5>
                        </div>
                        <div class="divider"></div>     

                        <!-- message list -->                        
                        <div style="height: 600px; overflow-y: auto; break-word:break-all;">
                            <ul id="msg-list" ng-controller="msgListCtrl">
                                <li ng-repeat="user in users" ng-model="users" ng-switch="user.type">
                                    <div class="right-align" style="margin-bottom: 20px; margin-right: 10px;" ng-switch-when="CURRENT_USER">
                                        <span class="chip hoverable" style="cursor: pointer;">
                                            <img src="{{ currentUserInfo.avator }}" alt="">
                                            <span class="blue-text text-lighten-1">{{user.name}}</span>
                                            <span class="red-text text-lighten-1">@</span>
                                            <span class="green-text text-lighten-1">{{user.time}}</span>
                                        </span>
                                        <p class="grey-text text-darken-1" style="font-size: 1.64rem; line-height: 110%;margin: 0.82rem 0 0.656rem 0; font-weight: 300; margin-right: 10px;">
                                            {{user.msg}}
                                        </p>
                                    </div>
                                    <div class="right-align" style="margin-bottom: 20px; margin-right: 10px;" ng-switch-when="CURRENT_PRIVATE_USER">
                                        <span style="color: rgba(238, 110, 115, 0.74);">@private &nbsp;</span>                                                                                
                                        <span class="chip hoverable" style="cursor: pointer;">
                                            <img src="{{ currentUserInfo.avator }}" alt="">
                                            <span class="blue-text text-lighten-1">{{user.name}}</span>
                                            <span class="red-text text-lighten-1">@</span>
                                            <span class="green-text text-lighten-1">{{user.time}}</span>
                                        </span>
                                        <p class="grey-text text-darken-1" style="font-size: 1.64rem; line-height: 110%;margin: 0.82rem 0 0.656rem 0; font-weight: 300; margin-right: 10px;">
                                            {{user.msg}}
                                        </p>
                                    </div>
                                    <div style="margin-bottom: 20px; margin-left: 10px;" ng-switch-when="BROADCAST_USER">
                                        <span class="chip hoverable" style="cursor: pointer;">
                                            <img src="{{ user.avator }}" alt="">
                                            <span class="blue-text text-lighten-1">{{user.name}}</span>
                                            <span class="red-text text-lighten-1">@</span>
                                            <span class="green-text text-lighten-1">{{user.time}}</span>
                                        </span>
                                        <p class="grey-text text-darken-1" style="font-size: 1.64rem; line-height: 110%;margin: 0.82rem 0 0.656rem 0; font-weight: 300; margin-left: 10px;">
                                            {{user.msg}}
                                        </p>
                                    </div>
                                    <div style="margin-bottom: 20px; margin-left: 10px;" ng-switch-when="PRIVATE_USER">
                                        <span class="chip hoverable" style="cursor: pointer;">
                                            <img src="{{ user.avator }}" alt="">
                                            <span class="blue-text text-lighten-1">{{user.name}}</span>
                                            <span class="red-text text-lighten-1">@</span>
                                            <span class="green-text text-lighten-1">{{user.time}}</span>
                                        </span>
                                        <span style="color: rgba(238, 110, 115, 0.74);">&nbsp; @private</span>
                                        <p class="grey-text text-darken-1" style="font-size: 1.64rem; line-height: 110%;margin: 0.82rem 0 0.656rem 0; font-weight: 300; margin-left: 10px;">
                                            {{user.msg}}
                                        </p>
                                    </div>
                                    <div style="padding: 0px 40px 0px;" ng-switch-when="SYSTEM">
                                        <p class="center-align" style="padding: 3px 0;">
                                            <span class="blue-text text-lighten-2">{{user.name}} </span>
                                            <span class="{{ user.status }} text-lighten-2">{{user.action}} </span>
                                            <span class="indigo-text text-lighten-2">{{user.actionObj}}</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>          
                        <div class="divider"></div>

                        <!-- input bar -->
                        <div class="row margin-top20 margin-bottom10">
                            <div class="col m2 right-align" style="margin-top: 27px">
                                <span>{{ currentUserInfo.name || 'Your name' }}</span>:
                            </div>
                            <div class="col m8">
                                <div class="input-field">
                                    <input accesskey="i" type="text" id="msg-input" autofocus autocomplete="off">
                                    <label class="active" style="margin-left: -11px;" for="msg-input">
                                        Message
                                        <span ng-hide="showShortcut == 0" style="font-size: 80%; color: #bdbdbd;">&nbsp; alt+i</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col m2" style="margin-top: 20px;">
                                <a id="msg-sendbtn" class="waves-effect btn teal lighten-2"><i class="material-icons">done</i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col m3" style="height: 650px;">
                    <!-- your profile -->
                    <div class="z-depth-1 grey lighten-5" style="margin-top: 5px; padding: 5px 25px;">
                        <div>
                            <h5 class="font-weight300 grey-text text-darken-1">
                                Your profile
                                <small class="right">
                                    <span ng-hide="showShortcut == 0" style="vertical-align: top; font-size: 70%; color: #bdbdbd;">alt+s &nbsp;</span>
                                    <i accesskey="s" class="material-icons" style="cursor: pointer;" ng-click="setting()">settings</i>
                                </small>
                            </h5>
                        </div>
                        <div class="divider"></div>

                        <div class="row margin-top20">
                            <div class="col m5 s12 center-align">
                                <a href="#avatorList" class="modal-trigger">
                                    <img src="{{ currentUserInfo.avator }}" class="circle" alt="">
                                </a>
                            </div>
                            <div class="col m6 s12" ng-switch=" currentUserInfo.name || '_undefined_' ">
                                <div style="padding-left: 10px; margin-top: 5px;">
                                    <span class="grey-text text-darken-1">
                                        <span class="red-text text-lighten-1" ng-switch-when="_undefined_">Nameless</span>
                                        <span class="blue-text text-lighten-1" ng-switch-default>{{ currentUserInfo.name }}</span>
                                    </span>
                                </div>
                                <div class="chip" style="margin-top: 10px; cursor: pointer;" ng-switch-default>
                                    <span class="green-text font-weight300">Online</span>
                                    <i class="material-icons green-text text-lighten-1">done</i>
                                </div>
                                <div class="chip" style="margin-top: 10px; cursor: pointer;" ng-switch-when="_undefined_" ng-click="offlineNotify()">
                                    <span class="red-text font-weight300">Offline</span>
                                    <i class="material-icons red-text text-lighten-1">loop</i>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <!-- who's onlie -->
                    <div class="z-depth-1 grey lighten-5" style="margin-top: 20px; padding: 5px 25px;" ng-controller="userOnlineCtrl">
                        <div>
                            <h5 class="font-weight300 grey-text text-darken-1" ng-switch="privateMode">
                                <span ng-switch-when="0">Who's online?</span>
                                <span ng-switch-when="1">Private Message</span>
                            </h5>
                        </div>
                        <div class="divider" style="margin-bottom: 15px;"></div>
                        <div ng-repeat="user in userOnlineList" class="" style="margin-bottom: 13px;">
                            <span ng-hide="privateMode == 0">
                                <input accesskey="{{$index + 1}}" ng-disabled="currentUserInfo.name == user.name" type="checkbox" id="{{user.name}}" ng-model="user.isPrivateTgt" ng-true-value="true" ng-false-value="false">
                                <label style="padding-left: 20px;" for="{{user.name}}">&nbsp;&nbsp;&nbsp;</label>
                            </span>
                            <span class="hoverable chip" style=" cursor: pointer;">
                                <img src="{{ user.avator }}" alt="">
                                <span class="blue-text text-lighten-1">{{user.name}}</span>
                                <span class="red-text text-lighten-1">@</span>
                                <span class="green-text text-lighten-1">{{user.time}}</span>
                            </span>
                            <span ng-hide="showShortcut == 0 || privateMode == 0" style="margin-left: 10px; font-size: 80%; color: #bdbdbd;">alt+{{$index + 1}} &nbsp;</span>                            
                        </div>
                        <div style="margin-bottom: 10px;">
                            <span class="" style="font-size: 150%; margin-left: 5px;">...</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="js/common.js"></script>

        <script>
            $(document).ready(function(){
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal-trigger').leanModal();
            });
        </script>

        <!-- modal space -->

        <div class="modal" id="avatorList" ng-controller="avatorCtrl">
            <div class="modal-content">
                <h5 style="font-weight: 300;">Choose your avator</h5>
                <br>
                <div class="row">
                    <div class="col m1" style="margin: 5px 0;" ng-repeat="avator in avatorList">
                        <img class="hoverable circle responsive-img modal-close" src="img/{{avator}}" alt=""
                            style="cursor: pointer;" ng-click="selectAvator($event)">
                    </div>
                </div>
            </div>
        </div>

            <!-- setting modal -->
            <div class="modal" style="width: 20%;" id="settingModal">
                <div class="modal-content">
                    <h5 style="font-weight: 300;">Setting</h5>
                    <br>
                    <div class="row">
                        <div class="switch">
                            <label>
                            Show Keyboard Shortcuts
                            <input type="checkbox" accesskey="h" ng-model="showShortcut" ng-true-value="1" ng-false-value="0">
                            <span class="lever"></span>
                            </label>
                        </div>
                        <br>
                        <table style="width: 70%; font-size: 0.8rem; color: #9e9e9e;">
                            <tbody>
                                <tr>
                                    <td>alt + p</td>
                                    <td>Private Mode</td>
                                </tr>
                                <tr>
                                    <td>alt + i</td>
                                    <td>Input Focus</td>
                                </tr>
                                <tr>
                                    <td>alt + s</td>
                                    <td>Setting</td>
                                </tr>
                                <tr>
                                    <td>alt + h</td>
                                    <td>Show shortcuts</td>
                                </tr>
                                <tr>
                                    <td>alt + {number}</td>
                                    <td>User select</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat" style="color: #9e9e9e;">Ok</a>
                    </div>
                </div>
            </div>

        <!-- modal space end -->
    </body>
</html>